@import "../assets/commonStyles.scss";

.header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: black;
    & .logo{
        height:50px;
        width: 50px;
        flex-basis: 10%;
        text-align: center;
   
   & i{
       font-size: 50px;
       color: $secondary-color;
       text-shadow: 0 0 20px $secondary-color;
   }
    }
    & .title{
        flex-grow: 1;
        text-align: center;
        font-size: 25px;
        font-family: $primary-font-style;
        font-weight: bold;
        color: $secondary-color;
        text-shadow: 0 0 20px $secondary-color;
    }
}

