@import "../assets/commonStyles.scss";


.footer{
    width:100%;
    padding:20px;
    font-family: $primary-font-style;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    color:$secondary-color;
    background-color: $primary-color;

}